* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  overflow-x: hidden;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}

i {
  color: #000;
  cursor: pointer;
  font-size: 2.5rem;
}

.app .template {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto 1fr auto;
      grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  width: 100vw;
}

.app .template .top {
  display: -ms-grid;
  display: grid;
  grid-column: 1 / -1;
  -ms-grid-row: 1;
  grid-row: 1 / 1;
  -ms-grid-columns: 1fr auto 1fr;
      grid-template-columns: 1fr auto 1fr;
  height: 3.5rem;
}

.app .template .top header nav {
  font-family: 'Permanent Marker', 'Times New Roman', Times, serif;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
}

.app .template .top header nav ul {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  text-align: center;
}

.app .template .mid {
  display: -ms-grid;
  display: grid;
  grid-column: 1 / -1;
  -ms-grid-row: 2;
  grid-row: 2 / 2;
  -ms-grid-columns: auto 1fr auto;
      grid-template-columns: auto 1fr auto;
}

.app .template .mid .one {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  width: 3.5rem;
}

.app .template .mid .one .y {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.app .template .mid .two {
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0.1))), url("../../images/background-bw.jpg");
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.1)), url("../../images/background-bw.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 15px;
  -webkit-box-shadow: 5px 5px 10px #000;
          box-shadow: 5px 5px 10px #000;
}

.app .template .mid .two h1 {
  margin: 0;
}

.app .template .mid .three {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  width: 3.5rem;
}

.app .template .mid .three .x {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.app .template footer {
  display: -ms-grid;
  display: grid;
  grid-column: 1 / -1;
  grid-row: 3 / -1;
  -ms-grid-columns: 1fr auto 1fr;
      grid-template-columns: 1fr auto 1fr;
  height: 3.5rem;
}

.app .template footer .one {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-family: 'Permanent Marker', 'Times New Roman', Times, serif;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  letter-spacing: 0.2rem;
  padding: 0.5rem;
  text-align: center;
  text-transform: uppercase;
}

.app .template footer .one p {
  margin: 0;
}
/*# sourceMappingURL=global.css.map */