

nav {
    font-family: 'Permanent Marker', 'Times New Roman', Times, serif;
    grid-column: 2 / -1;
    letter-spacing: 0.2rem;
    text-transform: uppercase;

    ul {
        align-items: center;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        text-align: center;
    }
}