@import "../config";

nav {
    grid-column: 2 / -1;
    text-transform: uppercase;

    ul {
        align-items: center;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        text-align: center;

        a {
            border-radius: 3.5px;
            padding: 0 0.2rem;

            &:hover {
                opacity: 0.85;
            }
        }

        .active {
            background-color: $secondary-color;
            color: $primary-color;
            transition: 0.3s ease-in-out;
        }
    }
}