

footer {
    display: grid;
    grid-column: 1 / -1;
    grid-row: 3 / -1;
    grid-template-columns: 1fr 1fr;
    height: 3.5rem;

    .left {
        align-items: center;
        display: flex;
        flex-direction: row;
        font-family: 'Permanent Marker', 'Times New Roman', Times, serif;
        grid-column: 1 / 1;
        justify-content: center;
        letter-spacing: 0.2rem;
        padding: 0.5rem;
        text-align: center;
        text-transform: uppercase;

        p {
            margin: 0;
        }
    }
}