

footer {
    display: grid;
    grid-column: 1 / -1;
    grid-row: 3 / -1;
    grid-template-columns: 1fr 1fr 1fr;
    height: 3.5rem;

    .center {
        align-items: center;
        display: flex;
        flex-direction: row;
        grid-column: 2 / 2;
        justify-content: center;
        padding: 0.5rem;
        text-align: center;
        text-transform: uppercase;

        p {
            margin: 0;
        }
    }
}