@import "../config";

.sideBar {
    display: grid;
    grid-template-rows: 1fr 1fr;
    width: 3.5rem;

    .top {
        align-items: center;
        display: flex;
        flex-direction: column;
        grid-row: 1 / 1;
        justify-content: center;
    }

    &.left {
        grid-column: 1 / 1;
    }

    &.right {
        grid-column: 3 / -1;

        .socialIcons {
            align-items: center;
            display: flex;
            flex-direction: column;
            height: 100%;
            justify-content: space-evenly;
            width: 100%;

            i {
                @include default-social-icon-style;
            }
        }
    }
}